<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg aboutMe">
			<h1 class="center-front">About Me</h1>
			<%= image_tag("IMG_E5147.JPG", class: "card-img-top img-fluid") %>
		</div>
		<div class="col-lg-12 aboutMe">
			<h3>Thanks for coming by!</h3>
			<p>Ever heard the saying, "When life knocks you down, you get back up" ? In my case, I got back up with a laptop in hand and taught myself how to code. For the past 5 years I have continued to practice skills daily with a career in software development and as a freelance developer creating unique websites. I have worked with eCommerce, marketing, events and content creators to help get a digital prescence! Needless to say, I love to code!  </p>
		</div>
	</div>
</div>

