<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg aboutMe">
			<h1 class="center-front">About Me</h1>
			<%= image_tag("me.png", class: "card-img-top img-fluid") %>
		</div>
		<div class="col-lg-12 aboutMe">
			<h3>Thanks for coming by!</h3>
			<p>Ever heard the saying, "When life knocks you down, you get back up" ? In my case, I got back up with a laptop in hand and taught myself how to code. I immediately fell in love with the satisfaction of being able to  </p>
		</div>
	</div>
</div>

