<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg aboutMe">
			<h1 class="center-front">About Me</h1>
			<%= image_tag("me.png", class: "card-img-top img-fluid") %>
		</div>
		<div class="col-lg-12 aboutMe">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lorem orci, gravida sed metus eget, porttitor pretium purus. Duis lacus magna, vestibulum a tempus quis, suscipit non ipsum. Fusce in lacus eget nunc ornare aliquam id ac nunc. Mauris sodales faucibus lectus vitae dignissim. Phasellus lacinia dictum porttitor. Nulla aliquet tortor in purus placerat pretium. Curabitur dignissim nibh a nunc vulputate vehicula.</p>
		</div>
	</div>
</div>