<form>
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="messageInput">Message</label>
    <input type="text" class="form-control" id="messageInput" placeholder="Message">

  <div class="form-group">
    <label for="aboutInput">Inquring about</label>
    <select class="form-control" id="aboutInput">
      <option value="11">General Information</option>
      <option value="12">Website Quote</option>
      <option value="13">Schedule Consulatation</option>
      <option value="14">Just Saying Hi</option>
      <option value="15">Do you like coffee?</option>
    </select>
  </div>

  <button type="button" id ="submitBtn" class="btn btn-primary">Send It!</button>

</form>
