<hr>
<div class="container-fluid">
	
	<div class="row">
		<div class="col-sm half-left" >
		</div>
		<div class="col-sm marketOther">
			<h1 class="text-white">Have an idea?</h1>
			<hr>
			<p class="text-white">The benefits of having a website are numerous. With a solid work flow of concept, wireframing a </p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm marketOther">
			<h1 class="text-white">Lets Design It</h1>
			<hr>
			<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet vehicula mi, sit amet tincidunt lectus. Morbi non dapibus nunc, at molestie tortor. Nam aliquet velit eros, sit amet ultricies sapien molestie sit amet.</p>
		</div>
		<div class="col-sm half-leftTwo" >

		</div>
	</div>

	<div class="row">
		<div class="col-sm half-leftThree" >
		</div>
		<div class="col-sm marketOther">
			<h1 class="text-white">Then Develop It!</h1>
			<hr>
			<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet vehicula mi, sit amet tincidunt lectus. Morbi non dapibus nunc, at molestie tortor. Nam aliquet velit eros, sit amet ultricies sapien molestie sit amet.</p>
		</div>
	</div>

</div> 