<hr>

<div class="cardContainer">
	<div class="row">
		<div class="half-left col-sm">
			<h1 class="text-white">Have an idea?</h1>
		</div>
		<div class="half-right col-sm">
			<h3>Let's make it a reality!</h3>
		</div>
	</div><!-- end Div Row -->
</div>