<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 center-front">Pricing</h1>
    <p class="lead">These are common package, suitable for events, marketing, business or more. Each kit comes with we a step by step service from launching, maintaining and updaitng your site for one year. Larger scale sites require a meeting for detailed planning.</p>
  </div>
</div>

<div class="row">
	<div class="col-sm">
		<div class="card" style="width: 18rem;">
		  <div class="card-header">
		    <h4 class="center-front">Starter Kit</h4>
		  </div>
		  <div class="card-body center-front">
		    <h5 class="card-title center-front">$750</h5>


				<p class="card-text">Domain and Server Space for 1 year</p>
				<p class="card-text">Simple Responsive Webpage</p>
				<p class="card-text">3 Pages</p>
				<p class="card-text">Mailer</p>

		    <a href="#" class="btn btn-outline-primary">Go somewhere</a>
		  </div>
		</div>
	</div>
	<div class="col-sm">
		<div class="card" style="width: 18rem;">
		  <div class="card-header">
			<h4 class="center-front">Pro Kit</h4>
		  </div>
		  <div class="card-body center-front">
		    <h5 class="card-title center-front">$1500</h5>

		    	 <p class="card-text">Includes Starter Kit</p>
		    	 <p class="card-text">Admin Page</p>
		    	 <p class="card-text">Content Managment System</p>
		    	 <p class="card-text">Dynamic Webpage</p>
		    	 <p class="card-text">Custom Design & Graphics*</p>

		    <a href="#" class="btn btn-outline-primary">Go somewhere</a>
		  </div>
		</div>
	</div>
	<div class="col-sm">
		<div class="card" style="width: 18rem;">
		  <div class="card-header">
			<h4 class="center-front">Elite Kit </h4>
		  </div>
		  <div class="card-body center-front">
		    <h5 class="card-title center-front">$3000</h5>
		    <p class="card-text">Includes Pro Kit</p>
		    <p class="card-text">Large Scale Content Management System</p>
		    <p class="card-text"> Custom Integrations</p>

		    <a href="#" class="btn btn-outline-primary">Go somewhere</a>
		  </div>
		</div>
	</div>
</div>


