<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <%= image_tag("brain.svg", height: 30, id: 'logo', class: "d-inline-block align-top") %>
    GlassMinds LLC
  </a>
</nav>


<div class ="container-fluid backgroundPattern sectionHeight">
	<div class="row">
		<div class="col-lg">
			<div class="jumbotron">
			  <h1 class="display-4">Hello, world!</h1>
			  <p class="lead">The plan is simple. We are here to design and develop fully customized websites! </p>
			  <hr class="my-4">
			  <p>Fresh Content Delivered Daily!</p>
			  <p class="lead">
			    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
			  </p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid cardContainer">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="card col-md-4 col-sm-12 d-inline-block">
			  <%= image_tag("code2.jpg", id: 'code2Picture', class: "card-img-top",  alt: "Edit Entry") %>
			  <div class="card-body">
			    <h5 class="card-title">Custom Responsive Websites</h5>
			    <p class="card-text">Delivery of stunning websites that will create a lasting impression with your target audience. Delivery of fully responsive websites that will provide a great user experience across various platforms on different devices.</p>
			    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
			  </div>
			</div>

			<div class="card col-md-3 col-sm-12 d-inline-block">
			  <%= image_tag("code4.jpg", id: 'code4Picture', class: "card-img-top",  alt: "Edit Entry") %>
			  <div class="card-body">
			    <h5 class="card-title">Full Stack Development</h5>
			    <p class="card-text">We offer everything needed to design, build, and deploy your site. We offer multiple technologies for your sites front end and backend needs.</p>
				<!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
			  </div>
			</div>

			<div class="card col-md-4 col-sm-12 d-inline-block">
			  <%= image_tag("code3.jpg", id: 'code3Picture', class: "card-img-top",  alt: "Edit Entry") %>
			  <div class="card-body">
			    <h5 class="card-title">Design, Development & Deployment</h5>
			    <p class="card-text">We offer step by step communication along the process of designing and developing your concept.</p>
			    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
			  </div>
			</div>

		</div>
	</div><!-- end Div Row -->
</div>


<div class="container-fluid sectionHeight">
	<div class ="col-lg-12 row col-md-12 col-sm-12">
		<div class="col-lg-12">
			<h1 class="tribe_class"> More Info </h1>
			<p>I am full-stack software engineer with a wide skill set. I take careful consideration in each projects purpose to ensure the user interface (UI) will deliver a great user experience (UX). Wether it is a single page application or a high traffic content management system, my skill set allows me to pick the best technology stack for your project.
			</p>
		</div>
	</div>
</div>

<div class="container-fluid sectionHeight">
	<div class ="row">
		<div>
			<h1>Contact Me </h1><br>
			<a href="mailto:Mbartlett413@me.com">Email Me Today!</a>


		</div>
	</div>
</div>
