<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <%= image_tag("brain.svg", height: 30, id: 'logo', class: "d-inline-block align-top") %>
    GlassMinds LLC
  </a>
</nav>

<header>
	<div class ="backgroundPattern sectionHeight">
		<div class="row">
			<div class="col-lg">
				<div class="jumbotron">
				  <h1 class="display-4">Hello, world!</h1>
				  <p class="lead">The plan is simple. We are here to design and develop fully customized websites! </p>
				  <hr class="my-4">
				  <p>Fresh Content Delivered Daily!</p>
				  <p class="lead">
				    <a class="btn btn-primary btn-lg" href="#" role="button">Start You Project -></a>
				  </p>
				</div>
			</div>
		</div>
	</div>
</header>

<header>
	<div class="container-fluid">
		<div class="center-front">
				<h1> My Services</h1><br>
				<p>I ensure an easy experience from start to finish to ensure you can focus on your business</p><br>
				<hr>
		</div>
		<div class="row">
			<div class="skill-set col-lg-6">
				<ul>
					<li class="skill-card"><h3>My Services</h3>
						<p>I offer services from start to finish to ensure an easy</p>
					</li>
					<li class="skill-card"><h3>Web Design</h3>
					<p>Designing mobile first to deliver a modern, fast and easy-to-use front-end design through research, planning and architecture.</p></li>
					<li class="skill-card"><h3>Web Development</h3>
						<p>I build with modern techniques, choosing the right tool for the job to deliver the best user experience.</p></li>
				</ul>
			</div>

			<div class="skill-set col-lg-6">
				<ul>
					<li class="skill-card"><h3>eCommerce</h3>
						<p>I’ve worked on large scale eCommerce websites that have seen results. I make the shopping experience easy, accessible and seamless with the user in mind.</p></li>
					<li class="skill-card"><h3>Website Management</h3>
						<p>I create management plans that assist our partnership. I offer retainers to provide content changes, software and security updates to ensure long-term success.</p></li>
					<li class="skill-card"><h3>SEO</h3>
						<p>The upkeep of a quality website can bring in new leads. I implement strategies and provide ongoing support that will keep you ahead of your competitors.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>

<hr>

<div class="container-fluid cardContainer">
	<div class="row">
		<div class="half-left col-sm">
			<h1 class="text-white">Have an idea?</h1>
		</div>
		<div class="half col-sm">
			<h1>Let's make it reality!</h1>
			<h3>Schedule a free consultation</h3>
		</div>
	</div><!-- end Div Row -->
</div>


<div class="container-fluid">
	<div class ="row">
		<div class="col-lg message-form">
        <%= render partial: 'form' %>

		</div>
	</div>
</div>
