// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	background: url('/assets/pattern.png');
}

.jumbotron {
	background: url('/assets/code2.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: white;
}

.tribe_class{
	color: pink;
}

.container-fluid{
	min-height: 500px;
}

.sectionHeight:after{
	clear: both;
}

.cardContainer{
	clear:both;
}

ul {
  list-style-type: none;
}

.card {
	width: 33%;
	height: auto;
}

.skill-card {
	border: solid black 2px;
	border-radius: 25px;
	padding: 15px;
	margin: 15px;
	box-shadow: 10px 10px;
	height: 175px;
}

.center-front{
	text-align: center;
}

.half-left {
	background-image: url('/assets/code5.jpeg');
	height: 500px;
	width: 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 70%;
  background-size: cover;
}
.half-right{
  background-image: url('/assets/book.jpeg');
  height: 500px;
  width: 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 70%;
  background-size: cover;
}

#footer { 
  background-color: rgb(43, 123, 239); 

}

/* */

.message-form{
  border: solid black 2px;
  margin: 50px;
}
